* { box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
body { margin: 0; background-color: #222; font-weight: bold; font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif; }

.Artboards {cursor: pointer; position: absolute; left: 50%; top: 50%; overflow: hidden; }
.Artboards:after {pointer-events: none; content: ''; position: absolute; top: 0; right: 0; bottom: 0; left: 0; border-radius: 16px; box-shadow: 0 0 0 20px #222; }

.Artboards-artboard--appear-enter {opacity: 0; }
.Artboards-artboard--appear-enter-active {opacity: 1; transition: opacity 200ms ease; }
.Artboards-artboard--appear-exit {opacity: 1; }
.Artboards-artboard--appear-exit-active {opacity: 0; transition: opacity 200ms ease; }

.Artboards-artboard--slideFromTop-enter {left: 0; bottom: 100%; }
.Artboards-artboard--slideFromTop-enter-active {left: 0; bottom: 0; transition: bottom 400ms ease; }
.Artboards-artboard--slideFromTop-exit {left: 0; bottom: 0; }
.Artboards-artboard--slideFromTop-exit-active {left: 0; bottom: 100%; transition: bottom 400ms ease; }

.Artboards-artboard--slideFromBottom-enter {left: 0; top: 100%; }
.Artboards-artboard--slideFromBottom-enter-active {left: 0; top: 0; transition: top 400ms ease; }
.Artboards-artboard--slideFromBottom-exit {left: 0; top: 0; }
.Artboards-artboard--slideFromBottom-exit-active {left: 0; top: 100%; transition: top 400ms ease; }

.Artboards-artboard--slideFromLeft-enter {right: 100%; top: 0; }
.Artboards-artboard--slideFromLeft-enter-active {right: 0; top: 0; transition: right 400ms ease; }
.Artboards-artboard--slideFromLeft-exit {right: 0; top: 0; }
.Artboards-artboard--slideFromLeft-exit-active {right: 100%; top: 0; transition: right 400ms ease; }

.Artboards-artboard--slideFromRight-enter {left: 100%; top: 0; }
.Artboards-artboard--slideFromRight-enter-active {left: 0; top: 0; transition: left 400ms ease; }
.Artboards-artboard--slideFromRight-exit {left: 0; top: 0; }
.Artboards-artboard--slideFromRight-exit-active {left: 100%; top: 0; transition: left 400ms ease; }

.Artboard {position: absolute; width: 100%; height: 100%; background-color: #fff; }
.Artboard-scrollable {position: absolute; top: 0; right: -100px; bottom: 0; left: 0; overflow: auto; }
.Artboard-scrollableImage {display: block; }

.FixedLayer-image {display: block; position: absolute; }
.HotspotLayer {position: absolute; }

.NavigationButton {position: relative; padding: 12px 8px 12px 0; width: 40px; height: 56px; }
.NavigationButton-inner {border-radius: 50%; padding: 8px 0 0 9px; width: 32px; height: 32px; color: #777; }
.NavigationButton--enabled .NavigationButton-inner {color: #ddd; background-color: #222; }
.NavigationButton--enabled:hover .NavigationButton-inner,
.NavigationButton--enabled:active .NavigationButton-inner {color: #fff; background-color: #333; }
.NavigationButton svg {display: block; fill: currentColor; }

.Navigation {position: absolute; top: 0; left: 50%; display: flex; }
.Navigation-selectBox {flex-grow: 1; }

.SelectBox {position: relative; height: 56px; padding: 12px 0; }
.SelectBox-selectBox {display: block; -webkit-appearance: none; -moz-appearance: none; outline: none; border: 0; border-radius: 16px; padding: 0 12px; width: 100%; height: 32px; font-family: inherit; font-size: 16px; line-height: 32px; background-color: #000; }
.SelectBox-arrow {pointer-events: none; position: absolute; right: 12px; top: 20px; width: 16px; height: 16px; }
.SelectBox-selectBox,
.SelectBox-arrow {color: #777; }
.SelectBox-selectBox:hover,
.SelectBox-selectBox:active,
.SelectBox-selectBox:hover + .SelectBox-arrow,
.SelectBox-selectBox:active + .SelectBox-arrow {color: #aaa; }
.SelectBox svg {display: block; fill: currentColor; }
